*{
    margin:0;
    padding:0;
}
.flex-container{
    display:flex;
    flex-wrap:wrap;
    gap:12px;

}
.name{
    flex: 1 0 120px;

}
.email{
    flex:1 0 140px;
}
button{
    flex:1 0 60px;
    font-family: 'Gill Sans;
}
